:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-image: url(images/pattern-background-desktop.svg);
  background-color: var(--PaleBlue);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
main .main-img {
  max-width: 100%;
}
main .content {
  padding: 20px 40px;
}
main .content .text-content {
  padding-top: 15px;
  text-align: center;
}
main .content h1 {
  font-size: 25px;
  color: var(--DarkBlue);
}
main .content .description {
  color: var(--DesaturatedBlue);
  padding: 15px 0 25px;
  line-height: 1.4;
}
.music-content {
  background-color: var(--VeryPaleBlue);
  padding: 20px 15px;
  margin-bottom: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.music-content p {
  color: var(--DarkBlue);
  font-weight: 700;
  line-height: 1.5;
  flex: 1;
  margin-left: 20px;
}
.music-content p span {
  display: block;
  color: var(--DesaturatedBlue);
  font-weight: 500;
}
.change {
  display: block;
  transition: 0.4s;
  color: var(--BrightBlue);
  font-weight: 700;
}
.change:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.8);
}
.music-content img {
  width: 45px;
}

button {
  border: none;
  background: none;
  background: var(--BrightBlue);
  color: var(--VeryPaleBlue);
  width: 100%;
  padding: 16px 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 7px 20px 3px hsla(245, 75%, 52%, 0.3);
  transition: 0.4s;
}
button:hover {
  background: hsla(245, 75%, 52%, 0.8);
}
.cancel {
  padding: 30px 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: var(--DesaturatedBlue);
  transition: 0.4s;
  display: block;
  text-decoration: none;
}
.cancel:hover {
  color: var(--DarkBlue);
}
@media(max-width: 410px) {
  main {
    width: 350px;
  }
}